.logo {
  width: 100px;
  height: 24px;
  background-image: url(../../images/logo/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 9px;
}
